<hr>

<h4>Here's your change!</h4>

<div class="table">
  <% change.each do |coin, count| %>
    <% if count > 1 %>
      <% if coin == :penny %>
        <div class ="tr">
          <span class="td"><p><%= count %> pennies</p></span>
          <span class="td"<img src="/images/<%= coin %>_1.jpg"></span>
        </div>
      <% else %>
        <div class ="tr">
          <span class="td"><p><%= count %> <%= coin %>s</p></span>
          <span class="td"><img src="images/<%= coin %>_1.jpg"></span>
        </div>
      <% end  %>
    <% else %>
      <div class ="tr">
        <span class="td"><p><%= count %> <%= coin %></p></span>
        <span class="td"><img src="images/<%= coin %>_1.jpg"></span>
      </div>
    <% end %>
  <% end %>
</div>

<hr>

<p>Would you like to make more?</p>