<hr>

<div class="red center-block">
  <h4>Here's the coins for <%= amount %> cents!</h4>
</div>
<div class="table blue">
  <div class ="tr">
    <% change.each do |coin, count| %>
      <% if count > 1 %>
        <% if coin == :penny %>
          <span class="td"><img src="images/<%= coin %>_1.jpg"><p><%= count %> pennies</p></span>
        <% else %>
          <span class="td"><img src="images/<%= coin %>_1.jpg"><p><%= count %> <%= coin %>s</p></span>
        <% end  %>
      <% else %>
        <span class="td"><img src="images/<%= coin %>_1.jpg"><p><%= count %> <%= coin %></p></span>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="red center-block">
  <h5>Would you like to make more?</h5>