<hr>

<div>
  <h3>
    <% response = "" %>
    <% if amount == 0 %>
      <% response = "No coins for you!" %>
    <% elsif amount == 1 %>
      <% response = "Here's your penny!" %>
    <% else %>
      <% response = "Here's the coins for #{amount} cents!" %>
    <% end %>
    <%= response %>
  </h3>
</div>

<div class="table border">
  <div class ="tr">
    <% change.each do |coin, count| %>
      <% if count > 1 %>
        <% if coin == :penny %>
          <span class="td"><img src="images/<%= coin %>_1.jpg"><p><%= count %> pennies</p></span>
        <% else %>
          <span class="td"><img src="images/<%= coin %>_1.jpg"><p><%= count %> <%= coin %>s</p></span>
        <% end  %>
      <% else %>
        <span class="td"><img src="images/<%= coin %>_1.jpg"><p><%= count %> <%= coin %></p></span>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

<div class="center-block">
  <h3>Would you like to make more change?</h3>